{% extends "accounts/layout.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>

{% if post.photo %}
	<img src="{{ post.photo.url }}" />
{% endif %}
<hr />

{{ post.content|linebreaks }}

<hr/>
<center><h2>댓글</h2></center>
{% for comment in post.comment_set.all %}
	<center><li>
		{{ comment.message }}<br />
		by {{ comment.author }} 
		at {{ comment.created_at }}<br/>
		<a href="{{ comment.get_edit_url }}">
		수정
		</a>
		<a href="{{ comment.get_delete_url }}">
			삭제
		</a>
	</li></center>
{% endfor %}
<hr />
<a href="{% url "blog:index" %}" class="btn btn-primary">목록으로</a>
<a href="{% url "blog:comment_new" post.pk %}"  class="btn btn-primary">댓글쓰기</a>
{% endblock %}